<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../css/app.css" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" type="text/css" href="../css/brands.css" th:href="@{/css/brands.css}">
    <link rel="stylesheet" type="text/css" href="../css/solid.css" th:href="@{/css/solid.css}">

    <base href="/">
    <title>Hello, world!</title>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-light bg-dark">
        <a class="navbar-brand text-white" href="#">Project name</a>
        <a class="navbar-brand text-white" href="/logout">Logout</a>
    </nav>

</header>

<div class="container-fluid">
    <div class="row">

        <aside class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div id="sidebar-wrapper">
                <div class="row">

                    <div class="nav flex-column nav-pills btn-block" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical" th:each="role : ${roles}">


                        <a th:href="@{/{role}(role=${#strings.toLowerCase(role)})}"
                           class="nav-link active b tn-block btn-lg"
                           th:text="${role}"
                           th:if="${#execInfo.getProcessedTemplateName().equals(#strings.toLowerCase(role))}"></a>
                        <a th:href="@{/{role}(role=${#strings.toLowerCase(role)})}" class="nav-link  b tn-block btn-lg"
                           th:text="${role}"
                           th:if="${not #execInfo.getProcessedTemplateName().equals(#strings.toLowerCase(role))}"></a>
                        <!--                        <a class="nav-link active b tn-block btn-lg" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" >-->
                        <!--                            Admin</a>-->
                        <!--                        <a class="nav-link btn-block btn-lg" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">-->
                        <!--                            User</a>-->
                    </div>


                </div>
            </div>

        </aside>


        <main class="col-xs-12 col-sm-8 col-md-9 col-lg-10">

            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div id="userList ">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="panel panel-primary">

                                    <div class="panel-body">
                                        <div class="col-md-11">
                                            <h1 class="display-6 text-black-20 mt-4 mb-4">Admin panel</h1>

                                            <tr class="table-borderless border border-light border-bottom-0">
                                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active btn-light" id="pills-home-tab"
                                                           data-toggle="pill" href="#pills-home" role="tab"
                                                           aria-controls="pills-home" aria-selected="true">User
                                                            Table</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                                           href="#pills-profile" role="tab"
                                                           aria-controls="pills-profile" aria-selected="false">New
                                                            User</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-home"
                                                         role="tabpanel" aria-labelledby="pills-home-tab">

                                                        <table id="usersTable"
                                                               class="table table-sm table-borderless border border-light border-0 rounded bg-light">


                                                            <thead>
                                                            <div class="alert text-black-20 text-capitalize m-0"
                                                                 style="background: #95999c; ">
                                                                All users
                                                            </div>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Role</th>
                                                                <th>Login</th>
                                                                <th>Password</th>
                                                                <th>Email</th>
                                                                <th class="text-center">Edit</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="userListBody"></tbody>
                                                        </table>
                                                    </div>

                                                    <div class="tab-pane bg-light fade" id="pills-profile"
                                                         role="tabpanel" aria-labelledby="pills-profile-tab">

                                                        <div class="alert text-black-20 text-capitalize m-0 "
                                                             style="background: #95999c; ">
                                                            Add new user
                                                        </div>
                                                        <form class="col-xl-3 container text-center font-weight-bolder"
                                                              th:action="@{/create}"
                                                              th:method="post"
                                                              th:object="${userT}"
                                                              onsubmit="createUser(e)"
                                                              id="createUserForm"
                                                        >
                                                            <div class="form-group">
                                                                <label for="email-text-new" class="col-form-label">Email:</label>
                                                                <input class="form-control" id="email-text-new"
                                                                       th:field="*{email}"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="login-text-new" class="col-form-label">Login:</label>
                                                                <input class="form-control" id="login-text-new"
                                                                       th:field="*{login}"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password-text-new" class="col-form-label">Password:</label>
                                                                <input class="form-control" id="password-text-new"
                                                                       th:field="*{password}"/>
                                                            </div>
                                                            <div class="form-group " id="rolesBoxCreateUser">
                                                                <label
                                                                        class="col-form-label"></label>
                                                                <th:block
                                                                        th:each="role : ${roleList}">
                                                                    <input type="checkbox"
                                                                           name="rols"
                                                                           th:attr="data-id=${role.id}, data-name=${role.name}"
                                                                          />
                                                                    <label th:text="${role.name}"></label>
                                                                </th:block>

                                                            </div>


                                                            <button type="submit" class="btn btn-success">Create new
                                                                user
                                                            </button>
                                                            </br>
                                                        </form>

                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <!--модалка-->
            <div class="modal fade" id="editModal" tabindex="-1"
                 role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="editModalLabel">Edit
                                user</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="modalForm">
                                <fieldset>
                                    <div class="form-group ">
                                        <label for="id-text"
                                               class="col-form-label">ID:</label>
                                        <input type="text"
                                               class="form-control id"
                                               id="id-text"
                                               name="id"
                                               readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="email-text"
                                               class="col-form-label">Email:</label>
                                        <input class="form-control email"
                                               name="email"
                                               id="email-text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="login-text"
                                               class="col-form-label">Login:</label>
                                        <input class="form-control"
                                               id="login-text"
                                               name="login"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="password-text"
                                               class="col-form-label">Password:</label>
                                        <input class="form-control"
                                               id="password-text"
                                               name="password"
                                        />
                                    </div>
                                    <div class="form-group" id="rolesBox">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit"
                                                class="btn btn-primary">
                                            Edit
                                            user
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </main>
    </div>


</div>
<script src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../static/js/fontawesome.js" th:src="@{/js/fontawesome.js}"></script>
</body>
</html>